@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 140px;
}

.header > div {
  display: flex;
  gap: 46px;
  align-items: center;
}

img {
  width: 200px;
}

a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}

.help-btn {
  background-color: #75bf7a;
  color: white;
  border: none;
  border-radius: 5.95px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 22px;
}

.hero-section {
  display: flex;

  height: 70vh;
  
}


  section-one {
  display: flex;
  width: 50%;
  padding-left: 80;
  padding-right:744 ;
  padding-top: 100;
  

}
.section-one h1{ 
width: 557;
height: 198;
font-weight: 800;
font-size: 60.73;

}
.section-one p{
color:#9E9DA2 ;
width:550px;
height: 180px;
font-style:medium;
font-size:24px;
}
.buttons-ki-div1{
  display: flex;
  justify-content: space-around;
  font-size: large;
  
}



.my-button {
  font-size: 24.6px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
  
}

.my-button > img {
  width: 260px;
  height: 66.77;
   
  
}



.section-two {
 width: 50%;
 padding-top: 337;
  padding-left: 80;
  padding-right: 803;

  display: flex;
  justify-content: center;
}

.section-two > img {
  width: 553px;
  height: 582.81;
  padding-right: 90px;
  display: flex;
}





.buttons-ki-div2{
  background-color:#75BF7A;
  margin-right: 90px;
  margin-left:120px;
  margin-top: 70px;
  
  width:1240px;
  
  height:105px;
  border-radius:10px;
  overflow: hidden;
  box-sizing: border-box;
  
  
}

.main-btn{
  width: 246px;
  height: 56px;
  padding-left:64px;
  padding-right:962px;
  padding-bottom:72px ;
  padding-top: 29px;
  padding-top:px ;
  font-size: medium;
  color: #FFFFFF;
  
}
.small-btns{
  display: flex;
}
.sub1-btn1{

color: #DADADA;
background-color: #FFFFFF;
border:none;
width:499px;
height:67px;
flex:1;
}



.sub2-btn1{
color: #FFFFFF;
background-color: black;

width:260px;
height:67;
flex:1;
}


