@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: #f9f9f9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 140px;
}

.header > div {
  display: flex;
  gap: 46px;
  align-items: center;
}



a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}

.help-btn {
  background-color: #75bf7a;
  color: white;
  border: none;
  border-radius: 5.95px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 22px;
}

.hero-section {
  display: flex;
  height: 70vh;
  }


section-one {
  display: flex;
  width: 50%;
}

.section-one h1{ 
font-weight: 800;
font-size: 60.73;
}

.section-one p{
color:#9E9DA2 ;
font-size:24px;
font-weight: 500px;
}

.buttons-ki-div{
  display: flex;
  justify-content: space-between;
}

.my-button {
  font-size: 24.6px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 62px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:15px;
}

.my-button > img {
  width: 200px;
  height:60px;
}

.section-two {
  width: 50%;
  display: flex;
  justify-content: center;
}

.section-two > img {
  width: 553px;
  height:582.81298828125;
  display: flex;
}

.head{
  margin-top:70px ;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
  background-color:#75BF7A;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head p{
  font-weight: 600;
  font-size: 17px;
  color: #FFFFFF;
}
.main{
  gap: 11px;
  display: flex;
  justify-content: space-between;
}

.main input{
  width: 499px;
  height: 67px;
  border-radius: 4.39px;
  background-color: #FFFFFF;
  border: none;
}

.main input:focus{
  outline-color: red;
}

.main button {
  font-size:22px;
  font-weight: bolder;
  width: 260px;
  height:67px;
  border-radius: 4.39px;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}

.how{
 text-align: center;
 
}

.how span{
  color: #75BF7A;
}

.how h1{
font-weight: 800;
font-size: 46.39px;
}

.how p{
font-weight: 500;
color:  #9E9DA2;
font-size: 23px;
}




.mob-section{
  
  display: flex;
  height:90vh;
  
}
.mob-section1{
  
  width:33%;
}

.mob-section2{
border: 2px solid purple;
width: 33%;
display: flex;
align-items: center;
justify-content: center;
 
}




.circle{
  border-radius: 999px;
  background-color: #75BF7A;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
height: 400px;




}

.mob-section2  img{
 width: 300px;
height: 490px;






 

}

.mob-section3{


width:34%;
}

.options-right img{
  width: 45px;
  
}
.options-right h1{
font-weight: 800;

font-size: 22px;

}
.options-right p{
  color: #9E9DA2;
  
font-weight: 500;
font-size: 20px;
width: 290px;
height: 91px;


}
.options-left img{
  width: 45px;
  
}
.options-left h1{
font-weight: 800;

font-size: 22px;

}
.options-left p{
  color: #9E9DA2;
  
font-weight: 500;
font-size: 20px;
width: 290px;
height: 91px;


}
.options-left{
  align-items: end;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

}

.benefits h1{
font-weight: 800px;

font-size: 46.39px;
text-align: center;
}
.benefits span{
  color: #75BF7A ;
}


