@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: #f9f9f9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 140px;
}

.header > div {
  display: flex;
  gap: 46px;
  align-items: center;
}



a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}

.help-btn {
  background-color: #75bf7a;
  color: white;
  border: none;
  border-radius: 5.95px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 22px;
}

.hero-section {
  display: flex;
  height: 70vh;
  }


section-one {
  display: flex;
  width: 50%;
}

.section-one h1{ 
font-weight: 800;
font-size: 60.73;
}

.section-one p{
color:#9E9DA2 ;
font-size:24px;
font-weight: 500px;
}

.buttons-ki-div{
  display: flex;
  justify-content: space-between;
}

.my-button {
  font-size: 24.6px;
  border-radius: 5px;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  font-weight: 800;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 62px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:15px;
}

.my-button > img {
  width: 200px;
  height:60px;
}

.section-two {
  width: 50%;
  display: flex;
  justify-content: center;
}

.section-two > img {
  width: 553px;
  height:582.81298828125;
  display: flex;
}

.head{
  margin-top:70px ;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
  background-color:#75BF7A;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head p{
  font-weight: 600;
  font-size: 17px;
  color: #FFFFFF;
}
.main{
  gap: 11px;
  display: flex;
  justify-content: space-between;
}

.main input{
  width: 499px;
  height: 67px;
  border-radius: 4.39px;
  background-color: #FFFFFF;
  border: none;
}

.main input:focus{
  outline-color: red;
}

.main button {
  font-size:22px;
  font-weight: bolder;
  width: 260px;
  height:67px;
  border-radius: 4.39px;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}

.how{
 text-align: center;
}

.how h1{
font-weight: 800;
font-size: 46.39px;
}

.how p{
font-weight: 500;
color:  #9E9DA2;
font-size: 23px;
}

.mob-section{
  display: flex;
  height:90vh;
}

.mob-section1{
  width:33%;
}

.mob-section2{ 
  width: 33%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.circle{
  border-radius:999px;
  background-color: #75BF7A;
  width: 400px;
  height: 400px;
}

.mobile-img{
  position: absolute;
  width: 300px;
  height: 510px;
  top: 50%;
  transform: translateY(-50%);
}

.mob-section3{
 width:34%;
}

.options-right img{
 width: 45px;
}

.options-right h1{
 font-weight: 800;
 font-size: 22px;
}
  
.options-right p{
  color: #9E9DA2;
  font-weight: 500;
  font-size: 20px;
  width: 290px;
  height: 91px;
}

.options-left img{
  width: 45px;
}

.options-left h1{
 font-weight: 800;
 font-size: 22px;
}

.options-left p{
 color: #9E9DA2;
 font-weight: 500;
 font-size: 20px;
 width: 290px;
 height: 91px;
}
.options-left{
  align-items: end;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.benefit{
 font-weight: 800px;
 font-size: 46.39px;
 text-align: center;
}

span{
  color: #75BF7A;
}

.benefit-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1060px;
  height: 304px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 150px;
}

.benefit-1 div span {
  font-size: 88px;
  font-weight: 500;
  position:absolute;
  /* kue lgaya ya pos */
}

.benefit-1 div h2 {
  font-weight: 600;
  font-size: 33.94px;
  position: relative;
  /* kue lgaya ya pos */
  left:110px;
  bottom:15px;
}

.benefit-1 div p {
  color: #9e9da2;
  font-weight: 500;
  font-size: 22px;
  width: 385px;
  height: 47px;
}

.benefit-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  width: 1060px;
  height: 304px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 230px;
  margin-top: 58px;
  margin-bottom: 58px;
}

.benefit-2 div span {
  font-size: 88px;
  font-weight: 500px;
  position: absolute;
  /* kue lgaya ya pos */
}

.benefit-2 div h2 {
  font-weight: 600;
  font-size: 33.94px;
  position: relative;
  /* kue lgaya ya pos */
  left: 150px;
}

.benefit-2 div p {
  color: #9e9da2;
  font-weight: 500;
  font-size: 22px;
}

.benefit-3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1060px;
  height: 304px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 150px;
}

.benefit-3 div span {
  font-size: 88px;
  font-weight: 500;
  position: absolute;        
  /* kue lgaya ya pos */
}

.benefit-3 div h2 {
  font-weight: 600;
  font-size: 33.94px;
  position: relative;
  /* kue lgaya ya pos */
  left: 150px;
  bottom: 13px;
}

.benefit-3 div p {
  color: #9e9da2;
  font-weight: 500;
  font-size: 22px;
  width: 520px;
  height: 47px;
}

.end-section{
    width:1440px;
    height:300px;
    background-color:white ;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom:40px;
}

.sub1{
    width: 206px;
    height:144px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.sub2{
    width: 206px;
    height:144px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.sub1 p{
color: #797878;
}

.sub2 p{
color: #797878;
}

.img-section{
  display: flex;
  justify-content: space-around;
  width: 38%;
}

.img-section button{
  width:100px;
  height: 20px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 3.43px;
  margin-top: 130px;
}

.last{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items:center ;
  color: #75BF7A;
}

.footer{
   display: flex;
   flex-direction: row;
   gap: 140px;
}

